/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@font-face {
  font-family: 'Univers';
  src:font-url('UNIVERS.otf');
  font-weight: normal;
  font-style: normal;
} 

@font-face {
  font-family: 'ADAM';
  src:font-url('ADAM.otf');
  font-weight: normal;
  font-style: normal;
} 

html {
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Adam;
	color: #f49d9d;
}

.tableheading {
	font-family: Adam;
	font-size: 25px;
	padding-top: 5px;
	margin-bottom: 0px;
}

.showtext {
	font-family: Univers;
}

.footerhead {
	font-family: Adam;
	font-size: 20px;
	margin-bottom: 10px;
}

.footertext {
	font-family: Univers;
	font-size: 14px;
}

.reviewtext {
	margin-left: 20px;
}

#review_review {
	width: 100%;
	height: 200px;
	margin-left: 20px;
	font-family: Univers;
}

#review_review:focus {
	outline: none;
}

#review_recommend {
	margin-left: 10px;
}

.overlay { 
  color: white;
  font-size: 25px;
  font-family: Adam;
  position:absolute;
  z-index:12;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-top: 5px;
  /*width: 200px;*/
  background-color: #f49d9d;
}

.overlay2 { 
  color: white;
  font-size: 18px;
  font-family: Adam;
  position:absolute;
  z-index:12;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-top: 5px;
  margin-left: 0px;
  /*width: 200px;*/
  background-color: #f49d9d;
}


.checkbox {
	margin-left: 50px;
}

.checkbox label {
	margin-left: 5px;
}

.reviewbtn {
	background-color: #83A8D7;
	color: white;
	font-family: Adam;
	font-size: 18px;
	width: 150px;
	border-color: transparent;
	box-shadow: none;
}

.navbar-toggle .icon-bar {
    background-color: #f49d9d;
}

.navbar-brand:hover {
	background-color: transparent;
}

.navbar {
	min-height: 32px;
}

.navbar-nav > li > a {
	padding-top: 7px;
	padding-bottom: 0px;
	font-family: Adam;
}

.nav > li > a {
	color: #f49d9d;
	font-family: Adam;

}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    color: #83A8D7;
	font-family: Adam;
	outline: none;

}

#navbarright {
	color: #83A8D7;
	font-family: Adam;
}

#navbarright:hover {
	color: #f49d9d;
	font-family: Adam;
}

#navbarright:focus {
	color: #f49d9d;
	font-family: Adam;
	background-color: transparent;
}

.carousel-control {
  width:50px;
  color: white;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

/*search*/

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin-top: 4px;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #f49d9d;
  left: initial;
  font-size: 14px;
}

/*modal*/


/****** LOGIN MODAL ******/

/*register*/

.loginmodal-container1 {
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  /*max-width: 350px;*/
  height: 700px;
  width: 100% !important;
  background-color: #83A8D7;
  margin: 0 auto;
  border-radius: 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: Adam;
}

.loginmodal-container1 h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: Adam;
  color: white;
  text-decoration: underline;
}

.loginmodal-container1 input[type=submit] {
  width: 50%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container1 {
  input[type=text], input[type=password], input[type=email] {
    height: 40px;
    font-family: Univers;
    font-size: 12px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
}

/*login*/

.loginmodal-container2 {
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
  /*max-width: 350px;*/
  height: 700px;
  width: 100% !important;
  background-color: #f49d9d;
  margin: 0 auto;
  border-radius: 0px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: Adam;
}

.loginmodal-container2 h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: Adam;
  font-family: Adam;
  color: white;
  text-decoration: underline;
}

.loginmodal-container2 input[type=submit] {
  width: 50%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container2 {
  input[type=text], input[type=password], input[type=email] {
    height: 40px;
    font-family: Univers;
    font-size: 12px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
}

.alert {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom:10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom:10px;
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit1 {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #f49d9d;
  padding: 17px 0px;
  font-family: Adam;
  font-size: 16px;
  border-radius: 50px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit2:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #83A8D7;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-submit2 {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #83A8D7;
  padding: 17px 0px;
  font-family: Adam;
  font-size: 16px;
  border-radius: 50px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit1:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #f49d9d;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container1 a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.loginmodal-container2 a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.gradient-bg {
  background-color: #7597c4;
  background-repeat: repeat-y;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#7597c4), to(#f69d9c));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #f69d9c, #7597c4);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #f69d9c, #7597c4);

  /* IE 10 */
  background: -ms-linear-gradient(left, #f69d9c, #7597c4);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #f69d9c, #7597c4);
}

.nav-pills a {
  color:white;
}
.nav-pills a:hover, .nav-pills .active a {
  background-color: rgba(233, 233, 233, 0.5)!important;
  border-radius: 0px;
}

footer a {
  color: #ABA9A9;
}

footer a:hover {
  background:none!important;
}

.facebook a {
  color:white;

  &:hover {
    background: none;
    text-decoration: underline;
  }
}

.profpic {
  height: 100%;
  overflow: hidden;
  position: relative;
  
  img {
    display: block;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
  }
}

.reviewbox {
	border: 1px solid #ccc;
	border-radius: 5px;
	font-family: Univers;
	padding: 10px;
}

/*circle display pic*/
.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    img {
    	position: relative;
    	top: -20px;
    	/*left: 0px;*/
    }
}

img {
    display: inline;
    margin: 0 auto;
    height: 180%;
    width: auto;

}

/*display pic*/
.image-cropper2 {
    width: 230px;
    height: 230px;
    position: relative;
    overflow: hidden;
    border-radius: 0px;

    img {
    	position: relative;
    	top: -30px;
    	left: 20px;
    }
    
}

/*who to follow*/
.image-cropper3 {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    img {
    	position: relative;
    	top: -20px;
    	/*left: 0px;*/
    }
}

/*following dp*/
.image-cropper4 {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;

    img {
    	position: relative;
    	top: -20px;
    }
}

.button-kr {
  background:transparent;
  outline:0;
  border: 1px solid white;
  color: white!important;
  font-family: 'ADAM';
  padding-left: 30px;
  padding-right:30px;
  padding-bottom:8px;
  padding-top:12px;
  &:hover {
    background:white;
    color:#f49d9d!important;
    text-decoration:none;
    cursor: pointer
  }
}

.followbtn {
	font-family: Univers;
	color: white;
	border-color: transparent;
	background-color: #83A8D7;
}