/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


html {
	overflow-x: hidden;
}

.navbar-toggle .icon-bar {
    background-color: #f49d9d;
}

/*search*/

.search-input {
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: #f49d9d;
	border-left-color: transparent;
	box-shadow: none;
	border-radius: 0;
}

.search-input:focus {
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: #f49d9d;
	border-left-color: transparent;
	border-radius: 0;
	box-shadow: none;
}

.search-icon {
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: #f49d9d;
	border-right-color: transparent;
	border-radius: 0;
	background: transparent;
	color: #f49d9d;
}

.search-icon:hover {
	background: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: #f49d9d;
	border-right-color: transparent;
	color: #83A8D7;
}

/*modal*/

.modal-body .form-horizontal {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

.row .text-center {
	margin-top: -3%;
	margin-bottom: 3%;
}