// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-pills {
    display: flex;
    justify-content: center;
}
.header {
	color:white;
	font-family: 'ADAM';
	font-weight:300;
	.container {
		padding-top:50px;
		padding-bottom:200px;
	}
}

.summary {
	font-family: 'Univers';
}

.review {
	padding:10px;
	border: 1px solid #9A9A9A;
	border-radius: 5px;
	margin-bottom:50px;
}


// Method 1) Pure CSS
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;

  img {
	height:40px;
  }
  
  &-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}