// Place all the styles related to the startup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel {
  max-height: 700px;
  overflow: hidden;

  .item img {
    width: 100%;
    height: auto;
  }
}

.daebak {
	padding: 0px;
}

.overlay-img {
	background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
	position: absolute;
    top: 0;
    width: 90%;
    height:350px;
    display:flex;
    align-items:center;
    justify-content: center;
    visibility: hidden;
	.text h5 {
		text-align:center;
		color:white!important;
	}
}

.with-hover .item .col-sm-3:hover, .with-hover-main .item:hover {
	.overlay-img {
		visibility:visible;
	}
}


.kween img {
	height:150px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.kweens h5 {
	font-family: Univers;
	color: #83A8D7;
}

table a:hover {
	background:none;
}