<div class="container-fluid">
<h3>Write Review</h3>


<%= render 'form' %>


</div>


<script type="text/javascript">
	$(document).ready(function(){
		function change_background(){
			val = $('.selectpicker').val();
			$.ajax({
			    dataType: 'JSON',
			    type: 'GET',
			    url: '/startup/get_background',
			    data: {movie_id: val},
			    success: function(a) {
			    	if (a.movie_title) {
				    	returned = "url(http://image.tmdb.org/t/p/w780"+a.movie_title+")  no-repeat";
				    	$('#background-poster').css('background',returned);
				    	$('#background-poster').css('background-size','cover');
				    } else {
				    	$('#background-poster').css('background','#f49d9d');
				    }
			    },
			    error: function(a) {
			    	$('#background-poster').css('background','#f49d9d');
			    }
		  	});
		}

		var text_max = 50;
		$('#count_message').html(text_max + ' characters left');

		$('#review_review').keyup(function() {
		  var text_length = $('#review_review').val().length;
		  var text_remaining = text_max - text_length;

		  if (text_remaining > 0) {
			  $('#count_message').html(text_remaining + ' character/s left');
			  $("form.new_review input[type=submit]").attr('disabled','disabled');
			}
			else {
				$('#count_message').html("");
				$('form.new_review input[type=submit]').removeAttr('disabled');
			}
		});

		change_background();
		
		$('.selectpicker').change(function(){
			change_background();
		});

		$('input[type=radio]').change(function(){
			if ($('#review_review').val().length <= 50) {
				$("form.new_review input[type=submit]").attr('disabled','disabled');
			} else {
				$('form.new_review input[type=submit]').removeAttr('disabled');	
			}
			
		});

		$("form.new_review input[type=submit]").attr('disabled','disabled');
	});
</script>
